*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 16px;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}
.mob-menu-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
.menu {}
.menu__list {
    margin: 0;
    padding: 0;
}
.menu__item {
    list-style-type: none;
}
.menu__item--has-submenu {

    & > .menu__link {
        position: relative;
        padding-right: 36px;

        & > .menu-link-btn {
            position: absolute;
            top: 10px;
            right: 0;
            content: '';
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23222' stroke-linecap='square' stroke-linejoin='round' stroke-width='1.5' d='m9 5 7 7-7 7'/%3E%3C/svg%3E");
            background-size: cover;
            background-position: center;
        }
    
        &::after {
        }
    }

    & > .menu__submenu {
        display: none;
    }
}
.menu__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    text-decoration: none;
    color: #000;
    transition: all .25s;

    &:hover {
        color: #2196F3;
    }
    
}
.menu__submenu {
    margin: 0;
    padding: 0;
}